body {
  font-family: -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  text-align: center;
  font-weight: lighter;
  /* max-width: 680px; */
  margin: 5 auto;
  background: #B0C4DE;
  /* background: linear-gradient(90deg, #777780 0%, #8a928d 100%); */
  /* background: rgb(32, 31, 56); */
  color: white;
}

h1{
  font-weight: lighter;
}
h2{
  font-weight: lighter;
}