html{
  margin:0;
}
body {
  font-family: -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  text-align: center;
  font-weight: lighter;
  margin: auto;
  background: white;
  color: black;
}

.auth{
  width: 50%;
  margin: auto;
}

.nav {
  position: sticky;
  top: 0;
}

.active{
  font-weight: bold;
  color:rgb(44, 148, 245);
}

.logo{
  background-color:rgb(44, 148, 245);
  border-radius: 10%;
  padding: 5px;
  color: white;
  font-weight: bold;

}

main{
  padding-left: 30px;
  padding-right: 30px;
}

h1{
  font-weight: lighter;
}
h2{
  font-weight: lighter;
}
h3{
  font-weight: lighter;
}

a {
  color: inherit;
  text-decoration: none;
}


a:hover,
a:focus,
a:active {
  color: rgb(44, 148, 245);
  transition-duration: .5s;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
    font-weight: lighter;
  background-color: inherit;
  border: none;
}

button:hover{
  background-color: black;
  color: white;
}

span{
  font-size: 1.05rem;
}

 input{
  width: 40%;
  border-width: 1px;
  border-radius: 8px;
}

.header{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  box-shadow: 0px 2px 9px 5px rgba(0,0,0,0.05);
  z-index: 1000;
}

.search-input{
  margin-bottom: 5px;
  width: 50%;
  height: 5vh;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 9px 5px rgba(0,0,0,0.05);
}

.search-input::placeholder{
   color: gray;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
  opacity: .5;
}

.post-title{
  margin-bottom: 5px;
  width: 50%;
  height: 5vh;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 9px 5px rgba(0,0,0,0.05);
}

.post-body::placeholder,
.post-title::placeholder{
   color: gray;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
  opacity: .5;
}

.post-body{
  border-radius: 5px;
  border: none;
  width: 50%;
  height: 20vw;
  overflow: auto;
  outline: none;
  resize: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
    box-shadow: 0px 2px 9px 5px rgba(0,0,0,0.05);
}


.loader{
  position: absolute;
  background-color: #eaecee;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}


.checkbox{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  color: black;
}

.react-toggle {
  height: 15px !important;
  width: 40px !important;
}

.react-toggle-track {
  top: 1px !important;
  width: 40px !important;
  height: 14px !important;
}

.react-toggle--checked .react-toggle-track{
  background:rgb(44, 148, 245) !important;
}

/* .react-toggle .react-toggle--checked{
  border-color: transparent !important;
  left: 25px !important;
} */

.react-toggle-thumb{
  width: 12px !important;
  height: 12px !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

.navItems {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.navItem {
  display: inline-block;
  margin-right: 1rem;
}

.navItem:hover{
  color: rgb(44, 148, 245);
  font-weight: bolder;
}

.grid{
  display: flex;
  flex-direction: row;
}

.topic{
  text-decoration: none;
  font-size: 10px;
  font-weight: lighter;
  padding-left: 10px;
  padding-right: 10px;
}

.topic:hover{
  color: rgb(44, 148, 245);
}

.topicContainer{
  display: flex;
  height: max-content;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  justify-content: flex-start;
  align-items: flex-start;
  padding: .5rem;
  box-shadow: 0px 2px 9px 5px rgba(0,0,0,0.05);
}

.pagination{
  padding-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

.pag-btn {
  border-radius: 10px;
  box-shadow: 0px 2px 9px 5px rgba(0,0,0,0.05);
}

@media (max-width: 768px) {
  .checkbox {
   justify-content: center;
  }
  .grid{
    flex-direction: column;
    border: none;
  }

  .header{
    flex-direction: row;
    font-size: 1rem;
  }
  .post-title,
  .post-body{
    width: 100%;
  }

  .comment-input{
    width: 90%;
    height: 30px;
  }

  button:focus {
  outline: none;
  box-shadow: none;
}
}