/* .grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 700px;
  margin-top: 1rem;
} */

.card {
  margin: .5rem;
  flex-basis: 45%; 
  padding: .5rem;
  text-align: left;
  background-color: white;
  color: black;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
    box-shadow: 0px 2px 9px 5px rgba(0,0,0,0.05);
}

.card a{
  font-size: .8rem;
  font-weight: bolder;
}

/* .card:focus, */
.card:hover,
.card:active {
  border-color: black;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1rem;
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

.card h4{
  font-size: .8rem;
  font-weight: lighter;
}

.card h3:hover{
color: rgb(44, 148, 245);
transition: .15s ease;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

.body{
   white-space: pre-line;
}


.card button {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: transparent;
  font-size: 1rem;
  border-width: .5px;
  border-radius: 5px;
}

.card button:hover {
  background-color: black;
  color: white;
  transition: .15s ease;
}

.card ul {
  list-style-type: none;
  padding: 0;
}

.card ul li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px
}

.score {
  min-width: 30px;
  display: flex;
  justify-content: center;
  
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
      