.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 1rem;
}

.card {
  margin: .5rem;
  flex-basis: 45%;
  padding: .5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

/* .card:focus, */
.card:hover,
.card:active {
  border-color: black;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

.card button {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: white;
  border-width: .5px;
  border-radius: 5px;
}

.card button:hover {
  background-color: black;
  color: white;
}

.card ul {
  list-style-type: none;
  padding: 0;
}

.card ul li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px
}

.score {
  min-width: 30px;
  display: flex;
  justify-content: center;
  
}

.buttonAndScore {
  display: flex;

}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
      